@import "../style/constants.css";

.app {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  max-height: 100vh;
  justify-content: space-between;
  -ms-flex-align: stretch;
}

#header {
  flex-basis: 20vh;
}

#main {
   flex-basis: 80vh;
}

#footer {
  flex-basis: 10vh;
}
